* {
	font-family: "Roboto";
}
.sort_form{
	background: #e9ecef;
	padding: 1rem 0;
	border-radius: 5px;
	margin-bottom: 2rem;
	&_label{
		margin-bottom: 7px;
	}
}
.pag_block{
	display: flex;
	align-items: center;
	.sort_form_label{
		margin-right: 1rem;
	}
	.pag_wrap{
		display: flex;
		input{
			display: none;
			&:checked + label{
				color: #fff;
				background-color: #007bff;
				border-color: #007bff;
			}
		}
		label{
			display: inline-block;
			padding: 5px 10px;
			border: 1px solid #ced4da;
			margin-right: 5px;
			border-radius: 4px;
			cursor: pointer;
			background: #f9f9f9;
		}
	}
}

.task_wrap{
	@media (max-width: 991px){
		margin-bottom: 2rem;
	}
	.task{
		padding: 1rem;
		border: 1px solid #ced4da;
		border-radius: 5px;
		> div{
			margin-bottom: 0.5rem;
			color: #495057;
			span{
				font-weight: bold;
				color: #212529;
			}
		}
		select:disabled, 
		select[readonly]{
			font-weight: bold;
			color: #212529;
			-webkit-appearance: none;
			-moz-appearance: none;
			text-indent: 0.01px; 
			text-overflow: '';
			/* for IE */
			-ms-appearance: none;
			appearance: none!important;
			background: none;
			border: 0;
			opacity: 1;
		}
		.form-control:disabled, 
		.form-control[readonly]{
			user-select: none;
			resize: none;		
			color: #212529;
			font-weight: bold;	
		}
	}
}

.add_task{
	border-top: 1px dashed #ced4da;
}

.adm_edit {
	color: #777;
	font-size: 11px;
}